<footer>
  <p>&copy; 2025 CSE Motors. All rights reserved - Max Tinka.</p>
  <p>Last updated: <%= new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %></p>
</footer>
