<header>
  <div class="header-container">
    <img src="/images/logo.png" alt="CSE Motors Logo" class="logo">
    <nav>
      <ul class="nav-list">
        <li><a href="/">Home</a></li>
        <li><a href="/inventory">Inventory</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
