<%- include('../partials/header') %>
<main class="management">
    <h1>Inventory Management</h1>
    
    <% if (message) { %>
        <div class="message <%= messageType || 'success' %>">
            <%= message %>
        </div>
    <% } %>
    
    <div class="management-links">
        <a href="/inv/add-classification" class="btn btn-primary">Add New Classification</a>
        <a href="/inv/add-inventory" class="btn btn-primary">Add New Vehicle</a>
    </div>
</main>
<%- include('../partials/footer') %>
