<h1>Inventory Management</h1>

<% if (messages && messages.notice) { %>
    <div class="notice"><%= messages.notice %></div>
<% } %>

<div class="management-links">
    <a href="/inv/add-classification" class="btn">Add New Classification</a>
    <a href="/inv/add-inventory" class="btn">Add New Vehicle</a>
</div>

<% if (classificationSelect) { %>
    <div class="classification-select">
        <h2>Existing Classifications</h2>
        <%- classificationSelect %>
    </div>
<% } %>
